.title {
  text-align: center;
  color: hsl(var(--primary));
  font-size: 40px;
  font-weight: 600;
}

.title h2 {
  text-align: center;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: hsl(var(--secondary-foreground));
}